body {
  background-color: bisque;
}

.leaderboard{
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 400px;
}

li{
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  display:flex;
  justify-content: center;
}

.error{
  color:red;
}

