body {
  background-color: bisque;
}

ul {
  list-style: none;
  border: 2px solid black;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
